@use "colors" as colors
.game
    display: flex
    flex-direction: column
    justify-content: center
    margin: auto
    background-color: colors.$black

.art-image
    justify-content: center
    display: flex
    height: 20em
    width: fit-content
    margin: 0.5em auto 0.5em auto
    border: 0.2em solid grey

.art-list
    display: flex
    justify-content: center
    background-color: 'yellow'
    margin: 0.5em

img
    display: flex
    width: inherit
    height: inherit