@use "colors" as colors
@use "media" as medium

.image-stuff
    display: flex
    justify-content: space-evenly
    flex-direction: column

.text-stuff
    display: flex
    justify-content: space-evenly
    flex-direction: column

// Can use this with an overarching div to make components landscape
.content
    display: flex
    justify-content: space-evenly
    @media screen and (max-width: medium.$tablet)
        flex-direction: column
    @media screen and (min-width: medium.$tablet)
        flex-direction: column
    @media screen and (min-width: medium.$desktop)
        flex-direction: row