@use "colors" as colors
@use "media" as medium


.art-image
    justify-content: center
    display: flex
    // height: 20em
    // width: fit-content
    width: 20em
    height: fit-content
    margin: 0.5em auto 0.5em auto
    border: 0.2em solid grey

.art-list
    display: flex
    justify-content: center
    background-color: 'yellow'
    margin: 0.5em

.art-input
    display: flex
    justify-content: center
    @media screen and (max-width: medium.$tablet)
        margin: 0.5em 15% 0.5em 15%
    @media screen and (min-width: medium.$tablet)
        margin: 0.5em 25% 0.5em 25%
    @media screen and (min-width: medium.$desktop)
        margin: 0.5em 23% 0.5em 23%
    

img
    display: flex
    width: inherit
    height: inherit

.input-form
    display: flex
    flex-direction: row
    justify-content: space-evenly

.art-guess
    display: flex
    justify-content: center
    color: colors.$white

.art-name
    display: flex
    justify-content: center
    margin-top: 0.5em
    color: colors.$white

.name-mask
    background-color: colors.$yellow
    color: colors.$yellow

.list-item
    display: flex
    flex-direction: row
    justify-content: space-evenly
    border: 0.12em  solid colors.$white
    padding-top: 0.1em
    padding-bottom: 0.1em
    margin: 0.2em 0 0.2em 0
    width: inherit

.list-icon
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding: 0
    align-items: center
    margin-top: 0px

.art-rest
    display: flex
    justify-content: center
    // margin: 0
    flex-grow: 1

.image-stuff
    display: flex
    justify-content: center
    flex-direction: column

.text-stuff
    display: flex
    justify-content: center
    flex-direction: column

.content
    display: flex
    justify-content: space-evenly
    @media screen and (max-width: medium.$tablet)
        flex-direction: column
    @media screen and (min-width: medium.$tablet)
        flex-direction: column
    @media screen and (min-width: medium.$desktop)
        flex-direction: column