@use "../colors" as colors

.art-guess
    display: flex
    justify-content: center
    color: colors.$text

.guess-stack
    width: var(--game-column)
    max-width: 100%
    display: flex
    justify-content: center

.guess-alert
    display: flex
    color: colors.$text
