.art-input
    display: flex
    flex-direction: column
    justify-content: center
    width: var(--game-column)
    max-width: 100%
    margin: 0.5em auto

.input-form
    display: flex
    flex-direction: row
    gap: 0.5em
